tr.expense { text-align: center; white-space: nowrap; }
tr.expense td.description, table.expenses tr th.description { text-align: left; padding-left: 2em; }
tr.expense td.paid { width: 16px; }
tr.expense td.user { width: 15%; }
tr.expense td.date { width: 15%; }
